{%  extends 'base.html' %}

{% block title %} shop {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block main %}
<font size="4" color="#3e7872" face="Times New Roman">
    <br>
    <div>
        {% if username %}
        <h3> Привет {{ username }}, мы рады видеть Вас в нашем магазине ! <br>
            Обновления ассортимента будут приходить по адресу: {{ mail }} </h3>
        {% endif %}
    </div>
    <p>
        Для нас одежда — это больше, чем просто нужные вещи. Одежда помогает выразить своё внутреннее состояние: ведь
        бывают моменты, когда хочется быть игривой кокеткой, на следующий день — нежной и хрупкой, а потом и вовсе
        строгой поклонницей классики. Одежда влияет на то, как нас воспринимают другие люди, — а значит, становится
        инструментом, который в умелых руках может многое. Одежда способна подарить новые возможности: когда нам
        нравится, как мы выглядим, мы действуем уверенно.
    </p>
    <div>
        <form action="{{ url_for('logout') }}" method="GET">
            <button type="submit">Выход из сессии (будут удалены cookie)</button>
        </form>

        <!--        name = request.cookies.get('username')-->
    </div>
</font>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}