{%  extends 'base.html' %}

{% block title %} Вход {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}


{% block main %}
<div>
 <div>
     <form action="/login/" method="post">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="username" placeholder="Имя">
        <input type="text" name="mail" placeholder="Электронная почта">
        <input type="submit" value="Отправить">
     </form>
 </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}